.flex-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

.dettaglioContainerKeyPeople {
    background-color: #14D928;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.contentDettaglioKeyPeople {
  flex: 1; 
  display: flex;
  width: 100%;
  flex-direction: column;
  max-height: 100vh;
  overflow-y: auto;
  }


.containerTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    margin: 20px;
}

.containerTable {
     display: flex;
     margin: 20px;
     width: 100%;

}
