.register-container {
  background-color: #ffb800;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 600px;
  width: 500px;
}

.text-wrapper-register {
  color: black;

  font-family: "Inter-Bold", Helvetica;
  font-size: 44px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  font-size: 24px;
  margin-top: 20px;
  margin-right: 240px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input-container input {
  width: 100%;
  padding: 10px;
  margin: 0px 0;
  gap: 5px;
  height: 20px;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.username-fill,
.email-fill,
.password-fill,
.confirm_password-fill {
  border-color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 44px;
  font-weight: 700;
  width: 100%;
  height: 60px;
  max-width: 400px;
  margin: 8px 0;
  border: 2px solid black;
  border-radius: 15px;
}

.username-error-container,
.email-error-container,
.password-error-container,
.confirm_password-error-container {
  width: 100%;
  max-width: 400px;
  margin: 12px 10px;
}

.username-error,
.email-error,
.password-error,
.confirm_password-error {
  color: red;
  font-size: 14px;
  margin: 0;
}


.div-registrati {
  color: #ffb800;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.05px;
  cursor: pointer;
}

.register-button {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 30px 0;
}

.register-button {
  background-color: black;
  color: white;
  border-radius: 40px;
}

.register-button:hover {
  transform: scale(1.05);
}

.div-account {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 18px;
  left: 132px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 506px;
  white-space: nowrap;
  margin-left: 20px;
}

.text-wrapper-accedi {
  color: #817b7b;
  font-family: "Inter-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  height: 18px;
  left: 311px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 506px;
  white-space: nowrap;
  margin-left: -10px;
}