.containerBox {
    background-color: #FFB700;
}


.timesheet {
    display: flex;
    flex-direction: column;
  }
  
  .timesheet-header {
    /* Stili per l'intestazione del calendario */
  }
  
  .timesheet-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 giorni per riga */
    gap: 5px;
  }
  
  .day {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .weekend {
    background-color: lightgrey; /* Colora i fine settimana */
  }
  
  .holiday {
    background-color: red; /* Colora i giorni festivi */
  }
  